<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <linkManager set:defaultProvider="support">
      <providers>
        <add name="support" type="Sitecore.Support.SupportLinkProvider, Sitecore.Support.187220" addAspxExtension="false" alwaysIncludeServerUrl="true" encodeNames="true" languageEmbedding="never" languageLocation="filePath" shortenUrls="true" useDisplayName="false" patch:before="add[@name='sitecore']" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>